.menu-green-had{
    display: flex;
    background-color: rgb(75, 155, 105);
}
.sub-menu-green-had{
    position: absolute;
    left: 0px;
    top: 0px; 
    background-color: rgb(75, 155, 105);
}
.menu-green-had > li{
    margin-left: 20px;

}
.menu-green-had li{
    text-decoration: none;
    list-style: none;
}

.menu-link-green{
    color: white;
    text-decoration: none;
}
/* 
    background-color: rgb(60, 125, 85);
    background-color: rgb(95, 200, 135);
} */
