{% macro love_song(context) %}
        <div class="row">
            <div class="col-4">
                <p class="fst-italic m-0">{{ context.content['song'] }}</p>
                <span class="fst-italic fw-bold" >{{ context.content['executor'] }}.</span>
                <span class="fst-italic fw-bold">{{ context.content['name'] }}</span>
            </div>
            <div class="col-4 border-start">
                <div class="row">
                    {% for lang in context.content['lang'] %}
                    <div class="col-12">
                        <a href="/love song/{{ lang }}" class="link-secondary">{{ lang| upper }}</a>
                    </div>

                {% endfor %}
                </div>

            </div>
            <div class="col-4">
                <div class="col-12">
                       <a href="/love song/writer/?writers={{ context.writer }}&year={{ context.year }}" class="btn btn-outline-secondary">Writers</a>
                </div>
            </div>

        </div>

{% endmacro %}

{% macro car(context) %}
    <div class="navbar-nav">
        {% for type in context.type %}
            <a href="/car/{{ type }}" class="nav-item nav-link">{{ type| upper }}</a>
         {% endfor %}
    </div>
    {% if context.content|length > 0 %}
        <div class="row">
            <div class="col">
                {% for car in context.content %}
                    <div class="card mb-3" style="max-width: 1200px;">
                      <div class="row align-items-center g-0 ">
                        <div class="col-md-4">
                            <img src="{{ car.photo }}" class="img-fluid rounded-start m-3 pe-3" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ car.model|title }}</h5>
                            <p class="card-text">{{ car.description }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endmacro %}

{% macro day_week(context) %}
    <div class="row">
        <h5>Today: {{ context.weekdays }}</h5>
    </div>
{% endmacro %}

{% macro headphones(context) %}
    <div class="row">
        {% for model in context.content %}
            <div class="col-12">
                <a href="/headphone/?model={{ model }}" class="link-secondary">{{ model| upper }}</a>
            </div>
        {% endfor %}
    </div>

{% endmacro %}

{% macro model(context) %}
    <h5>{{ context.model }}</h5>
    <p>{{ context.info }}</p>
{%  endmacro %}

{% macro writers(context) %}
    <h5>Writers: {{ context.content[0] }}</h5>
    <p>Year: {{ context.content[1]}}</p>
{%  endmacro %}
