/* .s-1{
    margin-top: 25px;
    height: 400px;
    max-width: 100%;
    background-color: gray;
}
.container-table{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    max-width: 100%;
    margin: 0px auto;
}
table,th,td{
    border: 1px solid;
}
table{
    background-image: url(/image/mountain.jpg);
    width: 70%;
    /* text-align: center; */
    /* border-collapse: separate; */
    /* border-spacing: 50px; 
    border-collapse: collapse;
}
td,th{
    text-align: center;
} 
 td{
    background-color: gray;  
} */