.s-1{
    margin: 10px 0px auto 0px;
}
.p-1{
    font-size: 3vmin
    /* line-height: 5vh; */
}
.container-main{
    margin:  auto;
    max-width: 70%;

    
}
img{
    max-width: 200px;
    height: 200px;
    margin: 0px 25px 5px 25px;
    float:right;
    clear: right;
}
