ol{
    font-weight: 600;
}
ul{
    font-weight: 200;
}
#winter {
    color: blue;
    list-style-image: url('../icons/winter_16.png');
}
#spring{
    color: green;
    list-style-image: url('../icons/spring_16.png');
}
#summer{
    color: yellow;
    list-style-image: url('../icons/summer_16.png');
}
#autumn{
    color: orangered;
    list-style-image: url('../icons/autumn_16.png');
}
