body{
    background-color: #ffffff;
}
.free-place{
     min-height: 90vh;
}
.header{
     background-color: #000000;
}
.footer{
    background-color: #000000;
}
.header-link{
  padding:22px;
}
.secret{
    display: none;

}
#del{
    background-image: url("../del_basket_48dp.png");
    background-repeat: no-repeat;
    padding:25px;
}
#backed{
    background-image: url("../header_img/shopping_cart_48dp.png");
    background-repeat: no-repeat;
}
#backed_complete{
    background-image: url("../header_img/shopping_cart_add_48dp.png");
    background-repeat: no-repeat;
}
#user{
    background-image: url("../header_img/user_48dp.png");
    background-repeat: no-repeat;
}
.cont-page{
    list-style-type: none;
    padding: 0.5rem;
    margin-bottom: 0px;
}
.cont-page li a{
    text-decoration: none;
    color: white;
}
.cont-page li{
    padding: 2px;
}
.cont-page li a:hover{
    text-decoration: underline;
    color: #61a9ea;

}
.cont-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.cont-img a{
    padding:25px;
    margin: 10px;
}
#face{
    background-image: url('../footer_img/fb_gray.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#inst{
    background-image: url('../footer_img/insta_gray.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#youtube{
    background-image: url('../footer_img/youtube_gray.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cont-img #face:hover{
    background-image: url('../footer_img/fb.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.cont-img #inst:hover{
    background-image: url('../footer_img/insta.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.cont-img #youtube:hover{
    background-image: url('../footer_img/youtube.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
 #pd {
    position: relative;
    /*width: 70%;*/
    height: 300px;
    overflow: hidden;
  }

  #pd img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  #pd img.active {
    opacity: 1;
  }

