body{
    margin:  0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../image/backgraund.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

   
}
.container{
    font-size: larger;
    width: 50%;
    margin: 15px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.5;
    background-color: rgba(10, 90, 60, 0.843);
    color: rgb(200, 248, 160);
}
p {
    margin-bottom: 0px;
    padding-bottom: 25px;
}
h1{
    margin-top: 0px;
    text-align: center;
}
.menu_had{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 90, 60);
}
.menu{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: rgb(10, 90, 60);
}
a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.menu:hover{
    background-color: rgb(0, 65, 40);
}
a:hover {
    background-color: rgb(0, 65, 40);
}
a:active{
    background-color: rgb(15, 145, 90);
}
.menu:active{
    background-color: rgb(15, 145, 90);
}
header{
    position: sticky;
    top:0px;
}