<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Page {% endblock %}</title>
{#    <script src="https://cdn.tailwindcss.com"></script>#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="hero is-info is-fullheight">
    <header class="hero-head">
        <nav class="navbar">
            <div class="container ">
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for("main.index") }}">Home</a>
                        {% if current_user.isauthenticated %}
                            <a href="{{ url_for("main.profile") }}">Profile</a>
                            <a href="{{ url_for("auth.logout") }}">Logout</a>
                        {% endif %}
                        {% if not current_user.isauthenticated %}
                            <a href="{{ url_for("auth.signin") }}">Sing In</a>
                            <a href="{{ url_for("auth.signup") }}">Sing Up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="container bg-slate-300">
        {% block content %}
        {% endblock %}
    </section>
    <footer class="container bg-slate-400">
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>