{% extends "./base.html" %}
{% block content %}
    <div class="container mt-5 row">
        <h3>{{ product.0.catalog }}</h3>
        <hr class="border border-dark border-2 opacity-100">
         {% for card in product %}
            <div class="card col-4 m-2 p-0" style="width: 12rem;" >
              <img src="../media/{{ card.main_image }}" class="card-img-top" alt="{{ main_image }}" id="card-{{ card.slug }}">
              <div class="card-body">
                <p class="card-title fs-5">{{ card.title }}</p>
                <p class="card-text">{{ card.price }}$</p>
              </div>
            </div>


        {% endfor %}
    </div>
{% endblock %}