{% extends "./base.html" %}
{#TODO здесь вход или регистарция #}
{% block content %}
{% if title == 'sign in' %}
    <div class="row justify-content-md-center text-center m-3 mt-5">
      {% if emailNotExists %}
      <p class="text-danger">Email not exists {{ emailNotExists }}. <a href="{% url 'register' %}">Sign up</a></p>
      {% endif %}
      {% if emailForNotCorrectPass %}
      <p class="text-danger">Pass for {{ emailForNotCorrectPass }} is not correct.</p>
      {% endif %}
      <form method="post" class="col-4">
        {% csrf_token %}
        <h5>Sign in</h5>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="emailAddressInput" name="emailAddressInput" placeholder="...">
          <label for="emailAddressInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="...">
          <label for="passwordInput">Password</label>
        </div>
        <div class="form-floating mb-3">
          <button type="submit" class="btn btn-dark" id="floatingPassword" style="width: 100%">Sign in</button>
        </div>
        <p class="m-0 border rounded p-2">New in Mega Shop? <a href="{% url 'register' %}">Create an account.</a></p>
      </form>
    </div>
{% endif %}
{% if title == 'sign up'%}
    <div class="row justify-content-md-center text-center m-3 t-5">
      {% if firstAndLastNameToExists %}
      <p class="text-danger">User exists {{ firstAndLastNameToExists }}. <a href="{% url 'register' %}">Sign up</a></p>
      {% endif %}
      <form method="post" class="col-5" id="formSignIn">
        {% csrf_token %}
        <h5>Registration</h5>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="firstNameInput" name="firstNameInput">
          <label for="firstNameInput">First name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lastNameInput" name="lastNameInput">
          <label for="lastNameInput">Last name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="emailAddressInput" name="emailAddressInput">
          <label for="emailAddressInput">Email address</label>
        </div>
          <div class="form-floating mb-3">
          <input type="text" class="form-control" id="phoneInput" name="phoneInput">
          <label for="phoneInput">Phone number</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="passwordInput" name="passwordInput">
          <label for="passwordInput">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="repeatPasswordInput" name="repeatPasswordInput">
          <label for="repeatPasswordInput">Repeat password</label>
        </div>
        <div class="form-floating mb-3">
          <button type="submit" class="btn btn-dark" id="floatingPassword" style="width: 100%">Sign up</button>
        </div>
      </form>
    </div>
{% endif %}
{% if title == 'change password'%}
     <div class="row justify-content-md-center text-center m-3 mt-5">
     <form method="post" class="col-5" id="changePassword">
          {% csrf_token %}
          <h5>Change password</h5>
           <div class="form-floating mb-3">
              <input type="password" class="form-control" id="passwordInput" name="passwordInput">
              <label for="passwordInput">New password</label>
               <div class="invalid-feedback">
                  The old password and the new password are the same.
               </div>
            </div>
        <div class="form-floating mb-3">
              <input type="password" class="form-control" id="repeatPasswordInput" name="repeatPasswordInput">
              <label for="repeatPasswordInput">Repeat new password</label>
            <div class="invalid-feedback">
                  The new password and confirmation password do not match.
            </div>
        </div>
        <div class="form-floating mb-3">
          <button type="submit" class="btn btn-dark" id="floatingPassword" style="width: 100%">Confirm</button>
        </div>
     </form>
     </div>
{% endif %}
<script>
  let passwordInput = $('#passwordInput')
  let repeatPasswordInput = $('#repeatPasswordInput')
  $(document).ready(function () {
    $('#formSignIn').submit(function (event) {
      if (passwordInput.val() !== repeatPasswordInput.val()) {
        repeatPasswordInput.addClass('is-invalid')
        event.preventDefault();
      } else {
        repeatPasswordInput.removeClass('is-invalid')
        repeatPasswordInput.addClass('is-valid')
      }
    });
    $('#changePassword').submit(function (event) {
          if (passwordInput.val() == {{ old_pass }}) {
        passwordInput.addClass('is-invalid')
        event.preventDefault();
      } else {
        passwordInput.removeClass('is-invalid')
          passwordInput.addClass('is-valid')
      }

      if (passwordInput.val() !==  repeatPasswordInput.val()) {
         repeatPasswordInput.addClass('is-invalid')
        event.preventDefault();
      } else {
         repeatPasswordInput.removeClass('is-invalid')
           repeatPasswordInput.addClass('is-valid')
      }
    });
  });
</script>
{% endblock %}