<nav class="navbar fixed-top header" data-bs-theme="dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand fs-3" href="/">Mega Shop</a>
    </div>
    <form class="d-flex " role="search" method="post">
        {% csrf_token %}
      <div class="input-group">
        <input type="text" name="searchInput" class="form-control" placeholder="product search...."
               aria-label="Search" style="color: black" required>
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
      </div>
    </form>
    <div class="d-flex me-3">
    {% if request.user.is_authenticated %}
        <a {% if check_order == True %}
            id='backed'
          {% else %}
            id='backed_complete'
          {% endif %}
               class="header-link" href="{% url 'basket' %}"></a>
      <span class="border-end border-white border-opacity-75 border-5 rounded mx-3"></span>
       {% endif %}
      <a id='user' class="header-link"
        href="{% if request.user.is_authenticated %}{%  url 'personal page' %}{% else %}{%  url 'login' %}{% endif %}"></a>
    </div>

  </div>
</nav>