{% extends "./base.html" %}
{% block content %}
    <div class="bg-body-tertiary p-3 m-3">
            <div>
                <h1>Orders: </h1>
            </div>
            <div class="bg-body-secondary p-3">
                {% if purchaseNoHistory == True %}
                     <h4>You haven't made any purchases yet. <a href="/">Go back to main page</a></h4>
                {% else %}
                    {% for order in orders_list %}
                        <div class="row bg-dark-subtle p-2 m-2">
                            <div class="col-3 d-flex justify-content-between flex-column">
                                <p class="fs-5 fw-bolder">Order id: #{{ order.id }}</p>
                                <p class="fs-5 fw-bolder">Data: {{ order.date_order|date }}</p>
                            </div>
                            <div class="col-6 d-flex flex-row justify-content-center flex-wrap">
                                {% for item in order.products %}
                                <div class="d-flex justify-content-start align-items-center flex-column p-2">
                                    <div class="d-flex justify-content-center m-2">
                                        <img src="../media/{{ item.main_image }}" alt="{{ item.main_image }}" style="width: 100px;" id="history-{{ item.catalog }}/{{ item.slug }}">
                                    </div>
                                    <div>
                                        <p class="text-center text-wrap fw-bolder m-0" style="width: 8rem;">{{ item.title }}</p>
                                    </div>

                                </div>
                            {% endfor %}
                            </div>
                            <div class="col-3 d-flex align-items-end justify-content-end">
                                <p class="fs-4 fw-bolder">Price: {{ order.total_amount }} $</p>
                            </div>


                        </div>
                    {% endfor %}
                {% endif %}
            </div>
    </div>
    <script>
        $('[id^="history-"]').click(function() {
            let cardId = $(this).attr('id');
            let link = cardId.slice(8).split('/')
        let productUrl = "{% url 'product' cat_slug='PLACEHOLDER_CAT_SLUG' prod_slug='PLACEHOLDER_PROD_SLUG' %}";
        window.location.href = productUrl.replace('PLACEHOLDER_CAT_SLUG', link[0]).replace('PLACEHOLDER_PROD_SLUG', link[1])
         });
    </script>

{% endblock %}