{% extends "./base.html" %}
{% block content %}
    <div class="bg-body-tertiary p-3 m-3">
        <h3>Personal info:</h3>
        <div class="bg-body-secondary p-3 my-2 non-secret">
                <p class="fs-5">First name: {{ user.first_name }}</p>
                <p class="fs-5">Last name: {{ user.last_name }}</p>
                <p class="fs-5">Email: {{ user.email }}</p>
                <p class="fs-5">Phone: {{ user.phone }}</p>
        </div>
        <div class="bg-body-secondary p-3 my-2 secret">
            <form id="chanePersonalInfo" method="POST" >
                {% csrf_token %}
                <div class="row g-3 align-items-center mb-3">
                  <div class="col-2">
                    <label for="firstNameInput" class="col-form-label fs-5">First name: </label>
                  </div>
                  <div class="col-10">
                    <input type="text" id="firstNameInput" name="firstNameInput" class="form-control"
                    value="{{ user.first_name }}">
                  </div>
                </div>
               <div class="row g-3 align-items-center mb-3">
                  <div class="col-2">
                    <label for="lastNameInput" class="col-form-label fs-5">Last name: </label>
                  </div>
                  <div class="col-10">
                    <input type="text" id="lastNameInput" name="lastNameInput" class="form-control"
                    value="{{ user.last_name }}">
                  </div>
                </div>
               <div class="row g-3 align-items-center mb-3">
                  <div class="col-2">
                    <label for="emailInput" class="col-form-label fs-5">Email: </label>
                  </div>
                  <div class="col-10">
                    <input type="text" id="emailInput" name="emailInput" class="form-control"
                    value="{{ user.email }}">
                  </div>
                </div>
               <div class="row g-3 align-items-center mb-3">
                  <div class="col-2">
                    <label for="phoneInput" class="col-form-label fs-5">Phone: </label>
                  </div>
                  <div class="col-10">
                    <input type="text" id="phoneInput" name="phoneInput" class="form-control"
                    value="{{ user.phone }}">
                  </div>
                </div>
            </form>
        </div>
        <button class="btn btn-primary non-secret" id="change">Change personal info</button>
        <button class="btn btn-primary secret" type="submit" form="chanePersonalInfo">Save personal info</button>

    </div>
{% endblock %}