{% extends "./base.html" %}
{% block content %}
    <div class="container mt-5 row">
        <h3>Product search by: {{ world }}</h3>
        <hr class="border border-dark border-2 opacity-100">
         {% for card in product %}
            <div class="card col-4 m-2 p-0" style="width: 12rem;" >
              <img src="../media/{{ card.main_image }}" class="card-img-top" alt="{{ main_image }}" id="cardd-{{ card.slug }}">
              <div class="card-body">
                <p class="card-title fs-5">{{ card.title }}</p>
                <p class="card-text">{{ card.price }}$</p>
              </div>
            </div>
                   <script>
                     $('[id^="cardd-"]').click(function() {
                        let cardId = $(this).attr('id');
                        let link = cardId.slice(6)
                         let url = 'race/{{ card.slug }}'
                        {#window.location.href = 'race/{{ card.slug }}';#}
                         window.history.pushState({path: url}, '', url);
                         });
                    </script>

        {% endfor %}
    </div>

{% endblock %}