{% extends "./base.html" %}
{% block content %}
    <div class="container mt-5 row">
        <h3>Product search by: {{ world }}</h3>
        <hr class="border border-dark border-2 opacity-100">
         {% for card in product %}
            <div class="card col-4 m-2 p-0" style="width: 12rem;" >
              <img src="../media/{{ card.main_image }}" class="card-img-top" alt="{{ main_image }}" id="search-{{ card.catalog }}/{{ card.slug }}">
                <div class="card-body">
                <p class="card-title fs-5">{{ card.title }}</p>
                <p class="card-text">{{ card.price }}$</p>
              </div>
            </div>
        {% endfor %}
    </div>
   <script>
     $('[id^="search-"]').click(function() {
        let cardId = $(this).attr('id');
        let link = cardId.slice(7).split('/')
        let productUrl = "{% url 'product' cat_slug='PLACEHOLDER_CAT_SLUG' prod_slug='PLACEHOLDER_PROD_SLUG' %}";
        window.location.href = productUrl.replace('PLACEHOLDER_CAT_SLUG', link[0]).replace('PLACEHOLDER_PROD_SLUG', link[1])
         });
    </script>
{% endblock %}