* {
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/back.png);
    width: 90%;
    margin: 0px auto;
}
.layout-menu{
    display: flex; 
    justify-content:space-between;
    align-items: center;
    overflow:hidden;
    background-color: rgb(229, 229, 229);
    border: 1px solid rgb(255, 254, 254);
    border-radius: 5px;
    margin: 20px 0px;
}

.layout-menu-lable {
    word-spacing: -6px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-decoration: none;
    padding-left: 10px;
}
.black{
    color: black;
    font-size: x-large;
    font-weight: bold;
}
.ping{
    color: #af6096;
    font-size: x-large;
    font-weight: bold;
}
.gray{
    color: rgb(155, 164, 174);
    font-weight: bold;
}
.layout-menu-list{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
    padding-left: 0px; 
}
.layout-menu-list > li > a{
    text-decoration: none;
    color:  rgb(52, 78, 122);
    font-weight: bold;
    padding: 10px 2em;
}
.layout-menu-list > li > a:last-child{
    padding-right: 10px;
}
.layout-menu-list >li:hover a{
    color: #bb69a2;
    font-weight: bold; 
}
.layout-menu-mobile{
    /* display: none; */
    position: absolute;
    right: 5%;
}
.layout-menu-mobile > a {
    display: none;
    text-decoration: none;
    background-image: url(/img/menu.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px;
    margin: 10px;
}
.layout-main{
    background-color: rgba(226, 216, 255, 0.132);
    border: 1px solid rgba(226, 216, 255, 0.132);
    color: whitesmoke;
    border-radius: 5px;
}
.layout-main-left{
    float: left;
    max-width: 25%;
}
.layout-main-left-list{
    border: 2px inset  rgba(226, 216, 255, 0.50);
    border-radius: 5px;
    background-color: rgb(55, 62, 72);
    list-style-position: inherit;
    list-style-type: none;
    list-style-image: url(../img/black-24dp/1x/outline_arrow_right_black_24dp.png);
    list-style-position: inside;
    padding-left: 0px;   
    margin: 10px;
}
.layout-main-left-list > li{
    border-bottom: 2px solid rgba(226, 216, 255, 0.132);
    padding:10px;
}
.layout-main-left-list > li > a{
    text-decoration: none;
    color: whitesmoke;
}
.layout-main-left-par{
    border: 2px inset  rgba(226, 216, 255, 0.50);
    border-radius: 5px;
    background-color: rgb(55, 62, 72);
    padding: 15px;
    margin: 10px;
    line-height: 1.3em;
}
.layout-main-left-par > h3{
    margin-top: 0px;
}
.layout-main-left-par-link{
    display: block;
    text-align: right;
    color: #af6096;
}
.layout-main-left-par-link::after{
    content: ' \00BB';
}
.layout-main-top {
    width: 75%;
    margin: 0px 0px 0px auto;
}
.layout-main-top-par,.layout-main-top-form,.layout-main-top-table,.layout-main-top-list,.layout-main-top-image{
    padding: 15px;
}
.layout-main-top-par > p> a{
    color: #af6096;
}
.layout-main-top-par > h3{
    margin-top: 0px;
}
.layout-main-top-image > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
img{
    background-color:rgba(245, 245, 245, 0.15);
    border: 10px outset   rgba(226, 216, 255, 0.50);
    margin: 0px 15px;
    padding: 15px;
    height: 200px;
    max-width: 100%;
}
.layout-main-top-list > div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 1.4em;
}
.layout-main-top-list > div > ul:nth-child(2){
    list-style: decimal;
}
.layout-main-top-list > div > ul:nth-child(3) > li:nth-child(odd){
    font-style:oblique;
}
.layout-main-top-table > h3{
    margin-top: 0px;
}
.layout-main-top-table > table{
    width: 100%;
    background-color: rgb(55, 62, 72);
    margin: 20px;
    overflow:hidden ;
    border-radius: 5px;
    border: 3px solid rgb(30, 35, 40);
    margin: 0px;

}
.layout-main-top-table > table,th,td{
    border-collapse: collapse;
    border: 1px solid rgb(90, 100, 115);
    padding: 5px;
    text-align: left;
}
.layout-main-top-table > table > tr,th{
    background-color: rgb(40, 45, 50);
}
.layout-main-top-form > form{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 10px 0px;
}
.layout-main-top-form > form *:not(span){
    margin-bottom: 15px;
}
.layout-main-top-form > form > a{
    text-decoration: none;
    color: whitesmoke;
} 
.layout-main-top-form > form >input,select,textarea{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.layout-main-top-form > form > input:last-child{
    width: 10%;
    text-align: center;
    background-color: #af6096;
    border-top: 1px outset  rgb(174, 196, 227);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.50);
}
.layout-main-top-form > form > input:last-child:hover{
    background-color: #8b4c78;
}
.layout-main-top-form > form > input:last-child:active{
    background-color: #c874af;
}
.layout-footer{
    display: block;
    text-align: center;
    color: whitesmoke;
}
.layout-footer > a{
    color: #af6096;
}
@media all and (max-width: 1280px){

    .layout-main-left{
        max-width: 100%;
        float: none;
    }
    .layout-main-top {
        width: 100%;
        margin: 0px auto;
    }
}
@media all and (max-width: 1100px){
    .layout-menu{
        flex-direction: row;
        align-items: center;
    }
    .layout-menu-mobile > a{
        display: block;
    }
    .layout-menu-mobile:hover .layout-menu-list{
        visibility:visible;
        opacity: 1;
        border-radius: 5px;      
    }

    .layout-menu-list {
        right: 0%;
        top: 55%;
        visibility:hidden;
        flex-direction: column;
        opacity:1;
        transition-property: opacity, visibility;
        position: inherit;
        text-align: center;
        background-color: rgb(229, 229, 229);
    }
    .layout-menu-list > li{
        padding: 10px;
        width: 100%;
    }
    .layout-menu-list > li > a{
        padding: 10px;
    }

    .layout-menu-list > li:active .layout-menu-mobile > a{
        background-image: url(../img/close.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .layout-menu-mobile > a:hover{
        background-image: url(../img/close.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}
@media all and (max-width: 850px){
    .layout-main-top-image > div{
        flex-direction: column;
        justify-content: space-evenly;
    }
    img{
        margin: 15px 0px;
    }
    .layout-main-top-list > div{
        display: block;
        align-items: center;
    }
    .layout-main-top-form > form >  input:last-child{
        width: 40%;
    }
   
}
@media all and (max-width: 550px){
    .layout-main-top-table > table{
        overflow-x: scroll;
    }
    .layout-main-top-form > form > input:last-child{
        width: 100%;
    }
}