{#{% import "macros.html" as macro %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
    <title>
        {% block title %}
            Page
        {% endblock %}
    </title>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="hero is-info is-fullheight">
    <header class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-menu" id="navbarMenuHeroA">
                    <div class="navbar-end">
                        <a href="{{ url_for("main.index") }}">Home</a>
                        <a href="{{ url_for("main.profile") }}">Profile</a>


                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="container bg-slate-700">
        {% block content %}
        {% endblock %}
    </section>
    <footer class="container bg-slate-800">
        {% block footer %}
            kekgkekg
        {% endblock %}
    </footer>


</body>
</html>