body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0px;
    line-height: 1.5;
}

.box{
    width: 50%;
    margin: 15px auto;
    margin-top: 0px;
} 

mark{
    background-color: rgb(190, 190, 190);
    color: cadetblue;
}

h1, h3{
    text-align: center;
}
.code{
    background-color: rgb(190, 190, 190);
}

.text_code{
    background-color: rgb(190, 190, 190);
    color:brown;
    display: inline;
}
p{
    display: inline;
}
dfn{
    font-style: normal;
}

header{
    position: sticky;
    top:0px;
}
ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(120, 120, 120);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(90, 90, 90);
}
li a:active{
    background-color: rgb(180, 180, 180);
}