body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0px;
}

.box {
    width: 900px;
    margin: 15px auto;
    margin-top: 0px;

}

h1 {
    text-align: center;
    color: rgb(70, 60, 139);
}

h2,
h4 {
    color: rgb(113, 132, 152);
}

.verse {
    white-space: pre-line;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(120, 120, 120);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(90, 90, 90);
}
li a:active{
    background-color: rgb(180, 180, 180);
}